{% extends "base.html" %}
{% load static %}
{% block content %}
   <body>
     <section id="car-part-search">
       <div class="container-fluid">
         <div class="row">
           <p id="search-result">
             Search Result
           </p>
           <div class="col-sm-12">
             <div class="col-sm-2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="{% static 'images/myvi.png' %}" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part1">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
           </div>

           <div class="col-sm-12">
             <div class="col-sm-2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part1">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
           </div>

           <div class="col-sm-12 car-part-hidden1">
             <div class="col-sm-2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part1">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
           </div>

           <div class="col-sm-12 car-part-hidden1">
             <div class="col-sm-2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part1">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
           </div>

           <div class="col-sm-12" id="button-group">
             <div class="col-sm-6">
                <p id="see-more-car1">See More Cars</p>
             </div>
             <div class="col-sm-6">
                <p id="cancle-more-car">Cancle</p>
             </div>


           </div>



         </div>
       </div>
     </section>
     <section id="second-menu-bar">
       <button id="side-menu-singup" class="side-menu-singup">
          <i class="fa fa-bars side-menu-bar"></i>
      </button>
      <button id="side-menu-singup1" class="side-menu-singup1">
        <p id="croos-button">X</p>
     </button>
     </section>
     <section id="side-menu">
       <ul>
         <li id="sub-menu-box">
             <a id="car-name1" href="#logo-part">Home</a>
         </li>
         <li id="sub-menu-box">
             <a id="car-name1" href="#car-part">Cars</a>
         </li>
         <li id="sub-menu-box">
             <a id="car-name1" href="#car-offer">Special Offer</a>
         </li>
         <li id="sub-menu-box">
             <a id="car-name1" href="#car-delar">Car Delar</a>
         </li>
         <li id="sub-menu-box">
             <a id="car-name1" href="#support-hot">Contact Us</a>
         </li>
       </ul>
     </section>
     <section id="menu">
       <ul>
         <ul id="logo-part">
           <li><img src="images/logo.png" / id="logo-img"></li>
         </ul>
         <ul id="menu-part">
           <li><a href="#support-hot">Contact Us</a></li>
           <li><a href="#car-delar">Car Delar</a></li>
           <li><a href="#car-offer">Special Offer</a></li>
           <li><a href="#car-part">Cars</a></li>
           <li><a href="#logo-part">Home</a></li>
         </ul>
       </ul>
     </section>
     <section>
     </section>
     <section id="search-tabel">
       <table id="first-table">
         <tbody>
           <tr id="tabel-box">
             <td>
               <p id="tabel-titel">Car Rental</p>
             </td>
           </tr>
           <tr>
             <td><label id="input-name"><b>Location</b></label><input id="full-input"/></td>
           </tr>
           <tr>
             <td><label id="input-name"><b>Pick-up date</b></label><br />

               <div class="form-group" id="date-up">
                   <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                       <input class="form-control" size="16" type="text" value="" readonly>
             <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                   </div>
           <input type="hidden" id="dtp_input1" value="" /><br/>
               </div>

             </td>
             <td><label id="input-name1"><b>Return-up date</b></label><br />

               <div class="form-group" id="date-up1">
                   <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                       <input class="form-control" size="16" type="text" value="" readonly>
             <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                   </div>
           <input type="hidden" id="dtp_input1" value="" /><br/>
               </div>

             </td>
           </tr>
           <tr>
             <td><label id="input-name"><b>From</b></label><br /><input id="half-input"/></td>
             <td><label id="input-name1"><b>To</b></label><br /><input id="half-input1"/></td>
           </tr>
           <tr>
             <td>
               <label id="input-name"><b>Choose Car </b></label><br />
                 <select class="form-control" id="full-input1">
                   <option>Perodua Myvi</option>
                   <option>Perodua Alza</option>
                   <option>Perodua Axia</option>
                   <option>Honda City</option>
                   <option>Honda Civic</option>
                 </select>
             </td>
           </tr>
           <tr>
             <td><button id="full-button" ><a>Submit</a></button></td>
           </tr>
         </tbody>
       </table>
     </section>
     <section id="search-tabel1">
       <table id="first-table">
         <tbody>
           <tr id="tabel-box">
             <td>
               <p id="tabel-titel">Car Rental</p>
             </td>
           </tr>
           <tr>
             <td><label id="input-name"><b>Location</b></label><input id="full-input-mobile"/></td>
           </tr>
           <tr>
             <td><label id="input-name"><b>Pick-up date</b></label><br />

               <div class="form-group" id="date-up-mobile">
                   <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                       <input class="form-control" size="16" type="text" value="" readonly>
             <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                   </div>
           <input type="hidden" id="dtp_input1" value="" /><br/>
               </div>

             </td>
           </tr>
           <tr>
             <td><label id="input-name1-mobile"><b>Return-up date</b></label><br />

               <div class="form-group" id="date-up1-mobile">
                   <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                       <input class="form-control" size="16" type="text" value="" readonly>
             <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                   </div>
           <input type="hidden" id="dtp_input1" value="" /><br/>
               </div>

             </td>
           </tr>
           <tr>
             <td><label id="input-name"><b>From</b></label><br /><input id="half-input-mobile"/></td>
           </tr>
           <tr>
              <td><label id="input-name1-mobile"><b>To</b></label><br /><input id="half-input1-mobile"/></td>
           </tr>
           <tr>
             <td><label id="input-name"><b>Choose Car </b></label><br />
               <select class="form-control" id="full-input1-mobile">
                  <option>Perodua Myvi</option>
                  <option>Perodua Alza</option>
                  <option>Perodua Axia</option>
                  <option>Honda City</option>
                  <option>Honda Civic</option>
               </select>
             </td>
           </tr>
           <tr>
             <td><button id="full-button1">Submit</button></td>
           </tr>
         </tbody>
       </table>
     </section>
      <section id="header">
      </section>
    <section id="car-part">
      <div class="container-fluid">
        <div class="row">
         <p id="car-choose-title">
           Choose your car
         </p>
          <div class="col-sm-12">
            <div class="col-sm-2">
              <p id="car-part-car-name">Perodua Myvi </p>
              <img src="images/myvi.png" id="car-id-name"/>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-2" id="car-text-part">
              <a class="waves-effect waves-light btn" href="order.html">Order</a>
              <p id="car-text-part">Rm 10.00/Hour</p>
              <p id="car-text-part">Rm 80.00/Day</p>
            </div>
            <div class="col-sm-2" id="side-part2">
              <p id="car-part-car-name">Perodua Myvi </p>
              <img src="images/myvi.png" id="car-id-name"/>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-2" id="car-text-part">
              <a class="waves-effect waves-light btn" href="order.html">Order</a>
              <p id="car-text-part">Rm 10.00/Hour</p>
              <p id="car-text-part">Rm 80.00/Day</p>
            </div>
            <div class="col-sm-2" id="side-part2">
              <p id="car-part-car-name">Perodua Myvi </p>
              <img src="images/myvi.png" id="car-id-name"/>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-2" id="car-text-part1">
              <a class="waves-effect waves-light btn" href="order.html">Order</a>
              <p id="car-text-part">Rm 10.00/Hour</p>
              <p id="car-text-part">Rm 80.00/Day</p>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="col-sm-2">
              <p id="car-part-car-name">Perodua Myvi </p>
              <img src="images/myvi.png" id="car-id-name"/>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-2" id="car-text-part">
              <a class="waves-effect waves-light btn" href="order.html">Order</a>
              <p id="car-text-part">Rm 10.00/Hour</p>
              <p id="car-text-part">Rm 80.00/Day</p>
            </div>
            <div class="col-sm-2" id="side-part2">
              <p id="car-part-car-name">Perodua Myvi </p>
              <img src="images/myvi.png" id="car-id-name"/>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-2" id="car-text-part">
              <a class="waves-effect waves-light btn" href="order.html">Order</a>
              <p id="car-text-part">Rm 10.00/Hour</p>
              <p id="car-text-part">Rm 80.00/Day</p>
            </div>
            <div class="col-sm-2" id="side-part2">
              <p id="car-part-car-name">Perodua Myvi </p>
              <img src="images/myvi.png" id="car-id-name"/>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-2" id="car-text-part1">
              <a class="waves-effect waves-light btn" href="order.html">Order</a>
              <p id="car-text-part">Rm 10.00/Hour</p>
              <p id="car-text-part">Rm 80.00/Day</p>
            </div>
          </div>

          <div class="col-sm-12 car-part-hidden">
            <div class="col-sm-2">
              <p id="car-part-car-name">Perodua Myvi </p>
              <img src="images/myvi.png" id="car-id-name"/>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-2" id="car-text-part">
              <a class="waves-effect waves-light btn" href="order.html">Order</a>
              <p id="car-text-part">Rm 10.00/Hour</p>
              <p id="car-text-part">Rm 80.00/Day</p>
            </div>
            <div class="col-sm-2" id="side-part2">
              <p id="car-part-car-name">Perodua Myvi </p>
              <img src="images/myvi.png" id="car-id-name"/>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-2" id="car-text-part">
              <a class="waves-effect waves-light btn" href="order.html">Order</a>
              <p id="car-text-part">Rm 10.00/Hour</p>
              <p id="car-text-part">Rm 80.00/Day</p>
            </div>
            <div class="col-sm-2" id="side-part2">
              <p id="car-part-car-name">Perodua Myvi </p>
              <img src="images/myvi.png" id="car-id-name"/>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-2" id="car-text-part1">
              <a class="waves-effect waves-light btn" href="order.html">Order</a>
              <p id="car-text-part">Rm 10.00/Hour</p>
              <p id="car-text-part">Rm 80.00/Day</p>
            </div>
          </div>

          <div class="col-sm-12 car-part-hidden">
            <div class="col-sm-2">
              <p id="car-part-car-name">Perodua Myvi </p>
              <img src="images/myvi.png" id="car-id-name"/>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-2" id="car-text-part">
              <a class="waves-effect waves-light btn" href="order.html">Order</a>
              <p id="car-text-part">Rm 10.00/Hour</p>
              <p id="car-text-part">Rm 80.00/Day</p>
            </div>
            <div class="col-sm-2" id="side-part2">
              <p id="car-part-car-name">Perodua Myvi </p>
              <img src="images/myvi.png" id="car-id-name"/>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-2" id="car-text-part">
              <a class="waves-effect waves-light btn" href="order.html">Order</a>
              <p id="car-text-part">Rm 10.00/Hour</p>
              <p id="car-text-part">Rm 80.00/Day</p>
            </div>
            <div class="col-sm-2" id="side-part2">
              <p id="car-part-car-name">Perodua Myvi </p>
              <img src="images/myvi.png" id="car-id-name"/>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-2" id="car-text-part1">
              <a class="waves-effect waves-light btn" href="order.html">Order</a>
              <p id="car-text-part">Rm 10.00/Hour</p>
              <p id="car-text-part">Rm 80.00/Day</p>
            </div>
          </div>


         <a id="see-more-car">See More Cars</a>


        </div>
      </div>
    </section>

    <section id="car-offer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <p id="offer-title">Latest Offers</p>
            <div class="col-sm-3" id="offer-body">

              <img src="images/myvi.png" id="offer-img"/>
              <p id="offer-car-name">Perodua Myvi</p>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
              <p id="offer-text-body">RM <a id="old-price">80.00</a><a id="new-price">80.00</a>/DAY</p>
              <p class="offer-order-button"><a href="order.html" id="offer-order-link">Order</a></p>
            </div>
            <div class="col-sm-3" id="offer-body">
              <img src="images/myvi.png" id="offer-img"/>
              <p id="offer-car-name">Perodua Myvi</p>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
              <p id="offer-text-body">RM <a id="old-price">80.00</a><a id="new-price">80.00</a>/DAY</p>
              <p class="offer-order-button"><a href="order.html" id="offer-order-link">Order</a></p>
            </div>
            <div class="col-sm-3" id="offer-body">
              <img src="images/myvi.png" id="offer-img"/>
              <p id="offer-car-name">Perodua Myvi</p>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
              <p id="offer-text-body">RM <a id="old-price">80.00</a><a id="new-price">80.00</a>/DAY</p>
              <p class="offer-order-button"><a href="order.html" id="offer-order-link">Order</a></p>
            </div>
            <div class="col-sm-3" id="offer-body">
              <img src="images/myvi.png" id="offer-img"/>
              <p id="offer-car-name">Perodua Myvi</p>
              <table id="icon-group">
                <tbody>
                  <tr>
                    <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                    <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                  </tr>
                  <tr>
                    <th id="simple-text"><p>5</p></th>
                    <th id="simple-text"><p>Auto</p></th>
                    <th id="simple-text"><p>A/C</p></th>
                    <th id="simple-text"><p>5</p></th>
                  </tr>
                </tbody>
              </table>
              <p id="offer-text-body">RM <a id="old-price">80.00</a><a id="new-price">80.00</a>/DAY</p>
              <p class="offer-order-button"><a href="order.html" id="offer-order-link">Order</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="car-delar">
       <div class="container-fluid">
         <div class="row">
           <p id="car-delar-titel">
             Car Dealer List
           </p>
           <div class="col-sm-12">
             <div class="col-sm-3">
               <img src="images/person1.jpeg" id="delae-img" />
             </div>
             <div class="col-sm-3" id="address-phn">
               <table>
                 <tbody>
                   <tr>
                     <p id="delar-name">Robert Smith</p>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                     <td id="delar-address">The Arc, Cyberjaya, Malaysia</td>
                  </tr>
                  <tr>
                     <td id="list-id"><i class="fa fa-envelope " aria-hidden="true"></i></td>
                     <td id="delar-address">Robartsmith@gmail.com</td>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-mobile " aria-hidden="true"></i></td>
                     <td id="delar-address">(+60)1205437</td>
                   </tr>
                   <tr>
                     <td>

                     </td>
                      <td>
                        <button id="delar-button">Contact</button>
                      </td>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-3">
               <img src="images/person1.jpeg" id="delae-img" />
             </div>
             <div class="col-sm-3" id="address-phn">
               <table>
                 <tbody>
                   <tr>
                     <p id="delar-name">Robert Smith</p>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                     <td id="delar-address">The Arc, Cyberjaya, Malaysia</td>
                  </tr>
                  <tr>
                     <td id="list-id"><i class="fa fa-envelope " aria-hidden="true"></i></td>
                     <td id="delar-address">Robartsmith@gmail.com</td>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-mobile " aria-hidden="true"></i></td>
                     <td id="delar-address">(+60)1205437</td>
                   </tr>
                   <tr>
                     <td>

                     </td>
                      <td>
                        <button id="delar-button">Contact</button>
                      </td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </div>
           <div class="col-sm-12">
             <div class="col-sm-3">
               <img src="images/person1.jpeg" id="delae-img" />
             </div>
             <div class="col-sm-3" id="address-phn">
               <table>
                 <tbody>
                   <tr>
                     <p id="delar-name">Robert Smith</p>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                     <td id="delar-address">The Arc, Cyberjaya, Malaysia</td>
                  </tr>
                  <tr>
                     <td id="list-id"><i class="fa fa-envelope " aria-hidden="true"></i></td>
                     <td id="delar-address">Robartsmith@gmail.com</td>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-mobile " aria-hidden="true"></i></td>
                     <td id="delar-address">(+60)1205437</td>
                   </tr>
                   <tr>
                     <td>

                     </td>
                      <td>
                        <button id="delar-button">Contact</button>
                      </td>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-3">
               <img src="images/person1.jpeg" id="delae-img" />
             </div>
             <div class="col-sm-3" id="address-phn">
               <table>
                 <tbody>
                   <tr>
                     <p id="delar-name">Robert Smith</p>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                     <td id="delar-address">The Arc, Cyberjaya, Malaysia</td>
                  </tr>
                  <tr>
                     <td id="list-id"><i class="fa fa-envelope " aria-hidden="true"></i></td>
                     <td id="delar-address">Robartsmith@gmail.com</td>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-mobile " aria-hidden="true"></i></td>
                     <td id="delar-address">(+60)1205437</td>
                   </tr>
                   <tr>
                     <td>

                     </td>
                      <td>
                        <button id="delar-button">Contact</button>
                      </td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </div>
           <div class="col-sm-12 delar-hide">
             <div class="col-sm-3">
               <img src="images/person1.jpeg" id="delae-img" />
             </div>
             <div class="col-sm-3" id="address-phn">
               <table>
                 <tbody>
                   <tr>
                     <p id="delar-name">Robert Smith</p>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                     <td id="delar-address">The Arc, Cyberjaya, Malaysia</td>
                  </tr>
                  <tr>
                     <td id="list-id"><i class="fa fa-envelope " aria-hidden="true"></i></td>
                     <td id="delar-address">Robartsmith@gmail.com</td>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-mobile " aria-hidden="true"></i></td>
                     <td id="delar-address">(+60)1205437</td>
                   </tr>
                   <tr>
                     <td>

                     </td>
                      <td>
                        <button id="delar-button">Contact</button>
                      </td>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-3">
               <img src="images/person1.jpeg" id="delae-img" />
             </div>
             <div class="col-sm-3" id="address-phn">
               <table>
                 <tbody>
                   <tr>
                     <p id="delar-name">Robert Smith</p>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                     <td id="delar-address">The Arc, Cyberjaya, Malaysia</td>
                  </tr>
                  <tr>
                     <td id="list-id"><i class="fa fa-envelope " aria-hidden="true"></i></td>
                     <td id="delar-address">Robartsmith@gmail.com</td>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-mobile " aria-hidden="true"></i></td>
                     <td id="delar-address">(+60)1205437</td>
                   </tr>
                   <tr>
                     <td>

                     </td>
                      <td>
                        <button id="delar-button">Contact</button>
                      </td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </div>
           <div class="col-sm-12 delar-hide" >
             <div class="col-sm-3">
               <img src="images/person1.jpeg" id="delae-img" />
             </div>
             <div class="col-sm-3" id="address-phn">
               <table>
                 <tbody>
                   <tr>
                     <p id="delar-name">Robert Smith</p>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                     <td id="delar-address">The Arc, Cyberjaya, Malaysia</td>
                  </tr>
                  <tr>
                     <td id="list-id"><i class="fa fa-envelope " aria-hidden="true"></i></td>
                     <td id="delar-address">Robartsmith@gmail.com</td>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-mobile " aria-hidden="true"></i></td>
                     <td id="delar-address">(+60)1205437</td>
                   </tr>
                   <tr>
                     <td>

                     </td>
                      <td>
                        <button id="delar-button">Contact</button>
                      </td>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-3">
               <img src="images/person1.jpeg" id="delae-img" />
             </div>
             <div class="col-sm-3" id="address-phn">
               <table>
                 <tbody>
                   <tr>
                     <p id="delar-name">Robert Smith</p>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                     <td id="delar-address">The Arc, Cyberjaya, Malaysia</td>
                  </tr>
                  <tr>
                     <td id="list-id"><i class="fa fa-envelope " aria-hidden="true"></i></td>
                     <td id="delar-address">Robartsmith@gmail.com</td>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-mobile " aria-hidden="true"></i></td>
                     <td id="delar-address">(+60)1205437</td>
                   </tr>
                   <tr>
                     <td>

                     </td>
                      <td>
                        <button id="delar-button">Contact</button>
                      </td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </div>
           <div class="col-sm-12 delar-hide" >
             <div class="col-sm-3">
               <img src="images/person1.jpeg" id="delae-img" />
             </div>
             <div class="col-sm-3" id="address-phn">
               <table>
                 <tbody>
                   <tr>
                     <p id="delar-name">Robert Smith</p>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                     <td id="delar-address">The Arc, Cyberjaya, Malaysia</td>
                  </tr>
                  <tr>
                     <td id="list-id"><i class="fa fa-envelope " aria-hidden="true"></i></td>
                     <td id="delar-address">Robartsmith@gmail.com</td>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-mobile " aria-hidden="true"></i></td>
                     <td id="delar-address">(+60)1205437</td>
                   </tr>
                   <tr>
                     <td>

                     </td>
                      <td>
                        <button id="delar-button">Contact</button>
                      </td>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-3">
               <img src="images/person1.jpeg" id="delae-img" />
             </div>
             <div class="col-sm-3" id="address-phn">
               <table>
                 <tbody>
                   <tr>
                     <p id="delar-name">Robert Smith</p>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                     <td id="delar-address">The Arc, Cyberjaya, Malaysia</td>
                  </tr>
                  <tr>
                     <td id="list-id"><i class="fa fa-envelope " aria-hidden="true"></i></td>
                     <td id="delar-address">Robartsmith@gmail.com</td>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-mobile " aria-hidden="true"></i></td>
                     <td id="delar-address">(+60)1205437</td>
                   </tr>
                   <tr>
                     <td>

                     </td>
                      <td>
                        <button id="delar-button">Contact</button>
                      </td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </div>
           <a id="see-more-delar">See More Delar</a>


         </div>
       </div>
    </section>
{% endblock %}