{% extends "base.html" %}
{% load static %}
{% block content %}
   <body>
     <section id="car-part-search">
       <div class="container-fluid">
         <div class="row">
           <p id="search-result">
             Search Result
           </p>
           <div class="col-sm-12">
             <div class="col-sm-2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part1">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
           </div>

           <div class="col-sm-12">
             <div class="col-sm-2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part1">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
           </div>

           <div class="col-sm-12 car-part-hidden">
             <div class="col-sm-2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part1">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
           </div>

           <div class="col-sm-12 car-part-hidden">
             <div class="col-sm-2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part1">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
           </div>

           <div class="col-sm-12" id="button-group">
             <div class="col-sm-6">
                <p id="see-more-car">See More Cars</p>
             </div>
             <div class="col-sm-6">
                <p id="cancle-more-car">Cancle</p>
             </div>


           </div>



         </div>
       </div>
     </section>
     <section id="second-menu-bar">
       <button id="side-menu-singup" class="side-menu-singup">
          <i class="fa fa-bars side-menu-bar"></i>
      </button>
      <button id="side-menu-singup1" class="side-menu-singup1">
        <p id="croos-button">X</p>
     </button>
     </section>
     <section id="side-menu">
       <ul>
         <li id="sub-menu-box">
             <a id="car-name1" href="index.html">Home</a>
         </li>
         <li id="sub-menu-box">
             <a id="car-name1" href="#car-part">Cars</a>
         </li>
         <li id="sub-menu-box">
             <a id="car-name1" href="#support-hot">Contact Us</a>
         </li>
       </ul>
     </section>
     <section id="menu">
       <ul>
         <ul id="logo-part">
           <a href="{% url 'home' %}"><li><img src="{% static 'images/logo.png' %}"  id="logo-img"></li></a>
         </ul>
         <ul id="menu-part">
           <li><a href="#support-hot">Contact Us</a></li>
           <li><a href="#car-part">Cars</a></li>
           <li><a href="index.html">Home</a></li>
         </ul>
       </ul>
     </section>
     <section>
     </section>
      <section id="header-order">
      </section>
      <section id="order-part-box">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-3">
                <p id="car-part-car-name-order"> {{ car.model }} </p>
                <img src="{{ car.image.url }}" id="car-id-name-order"/>
                <table id="icon-group-order">
                  <tbody>
                    <tr>
                      <th id="simple-icon-order"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon-order"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon-order"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon-order"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text-order"><p>5</p></th>
                      <th id="simple-text-order"><p>Auto</p></th>
                      <th id="simple-text-order"><p>A/C</p></th>
                      <th id="simple-text-order"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-3" id="car-text-part-order">
                <p id="car-text-part-order">Rm {{car.per_hour}}/Hour</p>
                <p id="car-text-part-order">Rm {{car.per_day}}/Day</p>
              </div>
              <div class="col-sm-3">
               <img src="{{car.owner.image.url}}" id="delae-img-order-page">
             </div>
             <div class="col-sm-3" id="address-phn-order-page">
               <table>
                 <tbody>
                   <tr>
                     <p id="delar-name">{{car.owner.name}}</p>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                     <td id="delar-address">{{car.owner.address}}</td>
                  </tr>
                  <tr>
                     <td id="list-id"><i class="fa fa-envelope " aria-hidden="true"></i></td>
                     <td id="delar-address">{{car.owner.email}}</td>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-mobile " aria-hidden="true"></i></td>
                     <td id="delar-address">{{car.owner.number}}</td>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-whatsapp " aria-hidden="true"></i></td>
                     <td id="delar-address">{{car.owner.whatsAppN}}</td>
                   </tr>

                   <tr>
                     <td>

                     </td>
                      <td>
                        <button id="delar-button">Contact</button>
                      </td>
                   </tr>
                 </tbody>
               </table>
             </div>
            </div>
          </div>
        </div>
      </section>



      <section id="car-part">
        <div class="container-fluid">
          <div class="row">
           <p id="car-choose-title">
             Choose your car
           </p>
            <div class="col-sm-12">
              {% for obj in OfferCar %}
                <div class="col-sm-2">
                  <p id="car-part-car-name">Perodua Myvi </p>
                  <img src="{{ obj.image.url }}" id="car-id-name"/>
                  <table id="icon-group">
                    <tbody>
                      <tr>
                        <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                        <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                        <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                        <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                      </tr>
                      <tr>
                        <th id="simple-text"><p>5</p></th>
                        <th id="simple-text"><p>Auto</p></th>
                        <th id="simple-text"><p>A/C</p></th>
                        <th id="simple-text"><p>5</p></th>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-sm-2" id="car-text-part">
                  <a class="waves-effect waves-light btn" href="order.html">Order</a>
                  <p id="car-text-part">Rm {{ obj.per_hour }}/Hour</p>
                  <p id="car-text-part">Rm {{ obj.per_day }}/Day</p>
                </div>
              {% endfor %}
            </div>


            <!-- start hidden part -->
            <div class="col-sm-12 car-part-hidden2">
              {% for obj in OfferCar %}
                <div class="col-sm-2">
                  <p id="car-part-car-name">Perodua Myvi </p>
                  <img src="{{ obj.image.url }}" id="car-id-name"/>
                  <table id="icon-group">
                    <tbody>
                      <tr>
                        <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                        <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                        <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                        <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                      </tr>
                      <tr>
                        <th id="simple-text"><p>5</p></th>
                        <th id="simple-text"><p>Auto</p></th>
                        <th id="simple-text"><p>A/C</p></th>
                        <th id="simple-text"><p>5</p></th>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-sm-2" id="car-text-part">
                  <a class="waves-effect waves-light btn" href="order.html">Order</a>
                  <p id="car-text-part">Rm {{ obj.per_hour }}/Hour</p>
                  <p id="car-text-part">Rm {{ obj.per_day }}/Day</p>
                </div>
              {% endfor %}
            </div>
            <!-- end hidden part -->
           <a id="see-more-car2">See More Cars</a>


          </div>
        </div>
      </section>
{% endblock %}