<html>
   <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Order</title>
     <link rel="icon" href="images/logo.png" />
     <link href="style/style.css" rel="stylesheet" >
     <link href="style/bootstrap.min.css" rel="stylesheet" media="screen">
     <link href="style/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
     <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
     <script type="text/javascript" src="js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
     <script src="js/main.js"></script>
   </head>
   <body>
     <section id="car-part-search">
       <div class="container-fluid">
         <div class="row">
           <p id="search-result">
             Search Result
           </p>
           <div class="col-sm-12">
             <div class="col-sm-2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part1">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
           </div>

           <div class="col-sm-12">
             <div class="col-sm-2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part1">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
           </div>

           <div class="col-sm-12 car-part-hidden">
             <div class="col-sm-2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part1">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
           </div>

           <div class="col-sm-12 car-part-hidden">
             <div class="col-sm-2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
             <div class="col-sm-2" id="side-part2">
               <p id="car-part-car-name">Perodua Myvi </p>
               <img src="images/myvi.png" id="car-id-name"/>
               <table id="icon-group">
                 <tbody>
                   <tr>
                     <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                     <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                   </tr>
                   <tr>
                     <th id="simple-text"><p>5</p></th>
                     <th id="simple-text"><p>Auto</p></th>
                     <th id="simple-text"><p>A/C</p></th>
                     <th id="simple-text"><p>5</p></th>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="col-sm-2" id="car-text-part1">
               <a class="waves-effect waves-light btn">Order</a>
               <p id="car-text-part">Rm 10.00/Hour</p>
               <p id="car-text-part">Rm 80.00/Day</p>
             </div>
           </div>

           <div class="col-sm-12" id="button-group">
             <div class="col-sm-6">
                <p id="see-more-car">See More Cars</p>
             </div>
             <div class="col-sm-6">
                <p id="cancle-more-car">Cancle</p>
             </div>


           </div>



         </div>
       </div>
     </section>
     <section id="second-menu-bar">
       <button id="side-menu-singup" class="side-menu-singup">
          <i class="fa fa-bars side-menu-bar"></i>
      </button>
      <button id="side-menu-singup1" class="side-menu-singup1">
        <p id="croos-button">X</p>
     </button>
     </section>
     <section id="side-menu">
       <ul>
         <li id="sub-menu-box">
             <a id="car-name1" href="index.html">Home</a>
         </li>
         <li id="sub-menu-box">
             <a id="car-name1" href="#car-part">Cars</a>
         </li>
         <li id="sub-menu-box">
             <a id="car-name1" href="#support-hot">Contact Us</a>
         </li>
       </ul>
     </section>
     <section id="menu">
       <ul>
         <ul id="logo-part">
           <li><img src="images/logo.png" / id="logo-img"></li>
         </ul>
         <ul id="menu-part">
           <li><a href="#support-hot">Contact Us</a></li>
           <li><a href="#car-part">Cars</a></li>
           <li><a href="index.html">Home</a></li>
         </ul>
       </ul>
     </section>
     <section>
     </section>
      <section id="header-order">
      </section>
      <section id="order-part-box">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-3">
                <p id="car-part-car-name-order">Perodua Myvi </p>
                <img src="images/myvi.png" id="car-id-name-order"/>
                <table id="icon-group-order">
                  <tbody>
                    <tr>
                      <th id="simple-icon-order"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon-order"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon-order"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon-order"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text-order"><p>5</p></th>
                      <th id="simple-text-order"><p>Auto</p></th>
                      <th id="simple-text-order"><p>A/C</p></th>
                      <th id="simple-text-order"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-3" id="car-text-part-order">
                <p id="car-text-part-order">Rm 10.00/Hour</p>
                <p id="car-text-part-order">Rm 80.00/Day</p>
              </div>
              <div class="col-sm-3">
               <img src="images/person1.jpeg" id="delae-img-order-page">
             </div>
             <div class="col-sm-3" id="address-phn-order-page">
               <table>
                 <tbody>
                   <tr>
                     <p id="delar-name">Robert Smith</p>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                     <td id="delar-address">The Arc, Cyberjaya, Malaysia</td>
                  </tr>
                  <tr>
                     <td id="list-id"><i class="fa fa-envelope " aria-hidden="true"></i></td>
                     <td id="delar-address">Robartsmith@gmail.com</td>
                   </tr>
                   <tr>
                     <td id="list-id"><i class="fa fa-mobile " aria-hidden="true"></i></td>
                     <td id="delar-address">(+60)1205437</td>
                   </tr>
                   <tr>
                     <td>

                     </td>
                      <td>
                        <button id="delar-button">Contact</button>
                      </td>
                   </tr>
                 </tbody>
               </table>
             </div>
            </div>
          </div>
        </div>
      </section>



      <section id="car-part">
        <div class="container-fluid">
          <div class="row">
           <p id="car-choose-title">
             Choose your car
           </p>
            <div class="col-sm-12">
              <div class="col-sm-2">
                <p id="car-part-car-name">Perodua Myvi </p>
                <img src="images/myvi.png" id="car-id-name"/>
                <table id="icon-group">
                  <tbody>
                    <tr>
                      <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text"><p>5</p></th>
                      <th id="simple-text"><p>Auto</p></th>
                      <th id="simple-text"><p>A/C</p></th>
                      <th id="simple-text"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2" id="car-text-part">
                <a class="waves-effect waves-light btn" href="order.html">Order</a>
                <p id="car-text-part">Rm 10.00/Hour</p>
                <p id="car-text-part">Rm 80.00/Day</p>
              </div>
              <div class="col-sm-2" id="side-part2">
                <p id="car-part-car-name">Perodua Myvi </p>
                <img src="images/myvi.png" id="car-id-name"/>
                <table id="icon-group">
                  <tbody>
                    <tr>
                      <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text"><p>5</p></th>
                      <th id="simple-text"><p>Auto</p></th>
                      <th id="simple-text"><p>A/C</p></th>
                      <th id="simple-text"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2" id="car-text-part">
                <a class="waves-effect waves-light btn" href="order.html">Order</a>
                <p id="car-text-part">Rm 10.00/Hour</p>
                <p id="car-text-part">Rm 80.00/Day</p>
              </div>
              <div class="col-sm-2" id="side-part2">
                <p id="car-part-car-name">Perodua Myvi </p>
                <img src="images/myvi.png" id="car-id-name"/>
                <table id="icon-group">
                  <tbody>
                    <tr>
                      <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text"><p>5</p></th>
                      <th id="simple-text"><p>Auto</p></th>
                      <th id="simple-text"><p>A/C</p></th>
                      <th id="simple-text"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2" id="car-text-part1">
                <a class="waves-effect waves-light btn" href="order.html">Order</a>
                <p id="car-text-part">Rm 10.00/Hour</p>
                <p id="car-text-part">Rm 80.00/Day</p>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="col-sm-2">
                <p id="car-part-car-name">Perodua Myvi </p>
                <img src="images/myvi.png" id="car-id-name"/>
                <table id="icon-group">
                  <tbody>
                    <tr>
                      <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text"><p>5</p></th>
                      <th id="simple-text"><p>Auto</p></th>
                      <th id="simple-text"><p>A/C</p></th>
                      <th id="simple-text"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2" id="car-text-part">
                <a class="waves-effect waves-light btn" href="order.html">Order</a>
                <p id="car-text-part">Rm 10.00/Hour</p>
                <p id="car-text-part">Rm 80.00/Day</p>
              </div>
              <div class="col-sm-2" id="side-part2">
                <p id="car-part-car-name">Perodua Myvi </p>
                <img src="images/myvi.png" id="car-id-name"/>
                <table id="icon-group">
                  <tbody>
                    <tr>
                      <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text"><p>5</p></th>
                      <th id="simple-text"><p>Auto</p></th>
                      <th id="simple-text"><p>A/C</p></th>
                      <th id="simple-text"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2" id="car-text-part">
                <a class="waves-effect waves-light btn" href="order.html">Order</a>
                <p id="car-text-part">Rm 10.00/Hour</p>
                <p id="car-text-part">Rm 80.00/Day</p>
              </div>
              <div class="col-sm-2" id="side-part2">
                <p id="car-part-car-name">Perodua Myvi </p>
                <img src="images/myvi.png" id="car-id-name"/>
                <table id="icon-group">
                  <tbody>
                    <tr>
                      <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text"><p>5</p></th>
                      <th id="simple-text"><p>Auto</p></th>
                      <th id="simple-text"><p>A/C</p></th>
                      <th id="simple-text"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2" id="car-text-part1">
                <a class="waves-effect waves-light btn" href="order.html">Order</a>
                <p id="car-text-part">Rm 10.00/Hour</p>
                <p id="car-text-part">Rm 80.00/Day</p>
              </div>
            </div>

            <div class="col-sm-12 car-part-hidden2">
              <div class="col-sm-2">
                <p id="car-part-car-name">Perodua Myvi </p>
                <img src="images/myvi.png" id="car-id-name"/>
                <table id="icon-group">
                  <tbody>
                    <tr>
                      <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text"><p>5</p></th>
                      <th id="simple-text"><p>Auto</p></th>
                      <th id="simple-text"><p>A/C</p></th>
                      <th id="simple-text"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2" id="car-text-part">
                <a class="waves-effect waves-light btn" href="order.html">Order</a>
                <p id="car-text-part">Rm 10.00/Hour</p>
                <p id="car-text-part">Rm 80.00/Day</p>
              </div>
              <div class="col-sm-2" id="side-part2">
                <p id="car-part-car-name">Perodua Myvi </p>
                <img src="images/myvi.png" id="car-id-name"/>
                <table id="icon-group">
                  <tbody>
                    <tr>
                      <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text"><p>5</p></th>
                      <th id="simple-text"><p>Auto</p></th>
                      <th id="simple-text"><p>A/C</p></th>
                      <th id="simple-text"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2" id="car-text-part">
                <a class="waves-effect waves-light btn" href="order.html">Order</a>
                <p id="car-text-part">Rm 10.00/Hour</p>
                <p id="car-text-part">Rm 80.00/Day</p>
              </div>
              <div class="col-sm-2" id="side-part2">
                <p id="car-part-car-name">Perodua Myvi </p>
                <img src="images/myvi.png" id="car-id-name"/>
                <table id="icon-group">
                  <tbody>
                    <tr>
                      <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text"><p>5</p></th>
                      <th id="simple-text"><p>Auto</p></th>
                      <th id="simple-text"><p>A/C</p></th>
                      <th id="simple-text"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2" id="car-text-part1">
                <a class="waves-effect waves-light btn" href="order.html">Order</a>
                <p id="car-text-part">Rm 10.00/Hour</p>
                <p id="car-text-part">Rm 80.00/Day</p>
              </div>
            </div>

            <div class="col-sm-12 car-part-hidden2">
              <div class="col-sm-2">
                <p id="car-part-car-name">Perodua Myvi </p>
                <img src="images/myvi.png" id="car-id-name"/>
                <table id="icon-group">
                  <tbody>
                    <tr>
                      <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text"><p>5</p></th>
                      <th id="simple-text"><p>Auto</p></th>
                      <th id="simple-text"><p>A/C</p></th>
                      <th id="simple-text"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2" id="car-text-part">
                <a class="waves-effect waves-light btn" href="order.html">Order</a>
                <p id="car-text-part">Rm 10.00/Hour</p>
                <p id="car-text-part">Rm 80.00/Day</p>
              </div>
              <div class="col-sm-2" id="side-part2">
                <p id="car-part-car-name">Perodua Myvi </p>
                <img src="images/myvi.png" id="car-id-name"/>
                <table id="icon-group">
                  <tbody>
                    <tr>
                      <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text"><p>5</p></th>
                      <th id="simple-text"><p>Auto</p></th>
                      <th id="simple-text"><p>A/C</p></th>
                      <th id="simple-text"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2" id="car-text-part">
                <a class="waves-effect waves-light btn" href="order.html">Order</a>
                <p id="car-text-part">Rm 10.00/Hour</p>
                <p id="car-text-part">Rm 80.00/Day</p>
              </div>
              <div class="col-sm-2" id="side-part2">
                <p id="car-part-car-name">Perodua Myvi </p>
                <img src="images/myvi.png" id="car-id-name"/>
                <table id="icon-group">
                  <tbody>
                    <tr>
                      <th id="simple-icon"><i class="fa fa-user" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-car" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-sun-o" aria-hidden="true"></i></th>
                      <th id="simple-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
                    </tr>
                    <tr>
                      <th id="simple-text"><p>5</p></th>
                      <th id="simple-text"><p>Auto</p></th>
                      <th id="simple-text"><p>A/C</p></th>
                      <th id="simple-text"><p>5</p></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2" id="car-text-part1">
                <a class="waves-effect waves-light btn" href="order.html">Order</a>
                <p id="car-text-part">Rm 10.00/Hour</p>
                <p id="car-text-part">Rm 80.00/Day</p>
              </div>
            </div>


           <a id="see-more-car2">See More Cars</a>


          </div>
        </div>
      </section>

      <section id="support-hot">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-4" id="help-box">
                <p id="helpline">Contact Us</p>
                <p id="helpline-num">Feel free to ask anything</p>
              </div>
              <div class="col-sm-4" id="help-box">
                <p id="helpline">Phone</p>
                <p id="helpline-num">WhatsApp Us : (+60)1235322</p>
              </div>
              <div class="col-sm-4" id="help-box">
                <p id="helpline">Email</p>
                <p id="helpline-num">Email Us : Carrent@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </section>

    <section id="footer">
       <p id="footer-text">
         Copyright © 2017 Sheikh Developer - All Rights Reserved.
       </p>
    </section>


   </body>
</html>
